<div class="related-products container">
  <h3 class="title text-center">You may also be interested in:</h3>
  <div class="row">
    <% obj.categories.first.listings.limit(3).each do |listing| %>
  <div class="col-sm-4 col-md-4">
  <div class="card card-product">
    <a href="<%= listing_path(listing) %>">
    <div class="card-image">
        <img class="img" src="<%= listing.image.url %>" />
    </div>
  </a>
      <div class="card-content">
        <h6 class="category text-muted"><%= listing.categories.first.name %></h6>
        <h4 class="card-title">
          <a href="<%= listing_path(listing) %>"><%= listing.title %></a>
        </h4>
        <div class="card-description">
      </div>
      <div class="footer">
        <div class="price">
          <h4>$ <%= listing.price %></h4>
        </div>
        <div class="stats">
          <button type="button" rel="tooltip" title="Saved to Wishlist" class="btn btn-just-icon btn-simple btn-rose">
            <i class="material-icons">favorite</i>
          </button>
        </div>
      </div>
    </div>
  </div>
  </div>
  <% end %>
  </div>
</div>
