<% content_for :body_class, "product-page" %>
<div class="page-header" data-parallax="true" style="background-image: url(<%= @listing.image.url %>)">
  <div class="container">
    <div class="row title-row"></div>
    <%= render 'layouts/messages' %>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="main main-raised main-product">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <%= image_tag(@listing.image.thumb.url, alt: 'Image') %>
        </div>
        <div class="col-md-6 col-sm-6">
          <h2 class="title">
            <%= @listing.title %>
          </h2>
          <h3 class="main-price">$<%= @listing.price %></h3>
          <div id="acordeon">
            <% if @listing.description.length >= 1 && !(@listing.description.blank?) %>
            <div class="panel-group">
              <div class="panel panel-border panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">Description</h4>
                </div>
                <br/>
                <p class="description"><%= @listing.description %></p>
              </div>
            </div>
            <% end %>
            <div class="panel-group">
              <div class="panel panel-border panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">Condition</h4>
                </div>
                <br/>
                <p class="description"><%= @listing.condition %></p>
              </div>
            </div>
            <% if @listing.categories.any? %>
            <div class="panel-group">
              <div class="panel panel-border panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">Departments</h4>
                </div>
                <br/>
                <%= render @listing.categories %>
              </div>
            </div>
            <% end %>
            <hr>
            <div class="panel-group">
              <div class="panel panel-border panel-default">
                  <div class="author">
                    <%= link_to user_path(@listing.user) do %>
                      <%= small_gravatar_for @listing.user,size: 40, class: "img-circle img-responsive img-raised", align: "left" %>
                      <span><%= @listing.user.first_name + " " + @listing.user.last_name %></span>
                      <% end %>
                  </div>
              </div>
            </div>
            <div class="panel-group">
              <div class="panel panel-border panel-default">
                <% if current_user == @listing.user || current_user.admin? %>
                  <%= link_to edit_listing_path(@listing) do %>
                    <button class="btn btn-success">Edit</button>
                  <% end %>
                  <%= link_to listing_path(@listing), method: :delete, data: {confirm: 'Are you sure you want to delete this listing?'} do %>
                    <button class="btn btn-danger">Delete</button>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'features' %>
<div class="row">
<div class="container">
  <%= render 'suggested', obj: @listing if @listing.categories.any? %>
</div>
</div>
