<footer class="footer">
	<div class="container">
    <div class="row">
			<div class="col-md-4">
	  			<h6 class="moody-ventures">&copy; Moody Ventures, LLC</h6>
			</div>
			<div class="col-md-4">
         <ul class="pull-center">
          <li><%= link_to "Terms", terms_path %></li>
          <li><%= link_to "Privacy", privacy_path %></li>
          <li><%= link_to "About", about_path %></li>
        </ul>
			</div>
				<div class="col-md-4">
					<ul class="pull-center">
          <li><%= link_to "https://www.facebook.com/List-Overflow-512717969077443/", class: "btn btn-just-icon btn-simple", target: "_blank" do %><i class="fa fa-facebook"></i><% end %></li>
          <li><%= link_to "https://www.instagram.com/listoverflow", class: "btn btn-just-icon btn-simple", target: "_blank" do %><i class="fa fa-instagram"></i><% end %></li>
          <li><%= link_to "https://twitter.com/list_overflow", class: "btn btn-just-icon btn-simple", target: "_blank" do %><i class="fa fa-twitter"></i><% end %></li>
        </ul>
			</div>
    </div>
	</div>
</footer>
