<footer class="footer">
	<div class="container">
    <div class="row">
  		<div class="copyright pull-left">
  			<h6>&copy; Moody Ventures, LLC</h6>
  		</div>
        <ul class="social-buttons pull-right">
          <li><%= link_to "https://www.facebook.com/List-Overflow-512717969077443/", class: "btn btn-just-icon btn-simple", target: "_blank" do %><i class="fa fa-facebook"></i><% end %></li>
          <li><%= link_to "https://www.instagram.com/listoverflow", class: "btn btn-just-icon btn-simple", target: "_blank" do %><i class="fa fa-instagram"></i><% end %></li>
          <li><%= link_to "https://twitter.com/list_overflow", class: "btn btn-just-icon btn-simple", target: "_blank" do %><i class="fa fa-twitter"></i><% end %></li>
        </ul>
        <ul class="pull-center">
          <li><%= link_to "Terms", about_path %></li> <!--Will need to make new path-->
          <li><%= link_to "Privacy", about_path %></li> <!--Will need to make new path-->
          <li><%= link_to "Sitemap", about_path %></li> <!--Will need to make new path-->
        </ul>
    </div>
	</div>
</footer>
