<!DOCTYPE html>
<html>
  <head>
    <title>List Overflow</title>
    <%= csrf_meta_tags %>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <%= favicon_link_tag asset_path('favicon.png'), rel: 'shortcut icon', type: 'image/png' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-93563702-5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-93563702-5');
    </script>
  </head>

    <% if content_for?(:body_class) %>
    <body class="<%= yield (:body_class) %>">
    <% end %>
    <% if !content_for?(:nav_transparent) %>
      <%= render 'layouts/navigation' %>
      <div class="section-space"></div>
    <% else %>
      <%= render 'layouts/navigation' %>
    <% end %>

    <% if !content_for?(:body_class) %>
      <div class="container">
        <%= render 'layouts/messages' %>
        <%= yield %>
      </div>
    <% else %>
      <%= yield %>
    <% end %>

    <%= render 'layouts/footer' %>
  </body>
</html>
